<div id="content">
    <h2>Kontakt</h2>
    <form method="" action="/contact" onsubmit="return formular(this)">
        <div>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="user_name">
        </div>
        <div>
            <label for="mail">E-mail</label><br>
            <input type="email" id="mail" name="user_mail">
        </div>
        <div>
            <label for="msg">Message</label> <br>
            <textarea id="msg" name="user_message"></textarea>
        </div>
        <div class="button">
            <button type="submit">Send</button>
        </div>
    </form>
    <img src="./img/slips/10_tern.jpg" alt="">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252.6419411031507!2d12.083864415851217!3d55.62564578051951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525febe81aa287%3A0x9864d6527aec94c3!2sPulsen+8%2C+4000+Roskilde!5e0!3m2!1sda!2sdk!4v1517403041109" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>