<p>
    <span>Slipseknuden</span> <span>Slipsevej 79</span> <span>4300</span> <span>Holbæk</span>
    <span>info@slipseknuden.dk</span> <span>www.slipseknuden.dk</span> <span>Tlf.: 88 99 66 44</span>
</p>