<ul>
    <li><a href="/">Hjem</a></li>
    <li><a href="/about">Om slipseknuden</a></li>
    <li><a href="/guarantee">garanti</a></li>
    <li><a href="/contact">kontakt</a></li>
    <li><a href="/news">nyheder</a></li>
    <li><a href="/products">produkter</a></li>
    <input type="text">
    <i class="fa fa-search" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
</ul>