<div id="sidebox">
    <img src="img/logo.jpg" alt="">
    <h3>PRODUKTER</h3>
    <ul>
        <li><a href="/products">ALLE</a></li>
        <li><a href="">SHOON</a></li>
        <li><a href="">KOREA SPECIAL</a></li>
        <li><a href="">US. IMPORTS</a></li>
        <li><a href="">SLEEK FABRICS UK</a></li>
    </ul>
</div>