<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="./css/products.css">
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <% include ../partials/sidebox %>
        <% include ../partials/products-content %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>